<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="format" value="[%-5level] %date %-15logger{15} - %m%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${format}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>